@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,600;1,700&display=swap');

.container-home {
  width: 1200px;
}

.info {
  margin-top: 6rem;
}

.hello {
  font-family: 'Roboto Mono', monospace;
  color: #27b84e;
}

.info h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 60pt;
}

.info h2 {
  font-family: 'Poppins', sans-serif;
  color: rgba(173, 181, 189, 0.75);
  font-size: 50pt;
}

.description {
  color: rgba(173, 181, 189, 0.75);
  text-align: justify;
  max-width: 100%;
  width: 25rem;
}