:root {
  --green: #27b84e;
  --semi-white: rgba(173, 181, 189, 0.75);
  --bg: #161b22;
  --snow: rgb(237, 247, 255);
}

.button-top {
  cursor: pointer;
  position: fixed;
  right: 10%;
  bottom: 5%;
}

.btn-topo {
  width: 4rem;
  height: 4rem;
  border: 1px solid #27b84e;
  color: #27b84e;
  transition: .5s;
  border-radius: 50%;
}

.btn-topo:hover {
  background-color: #27b84e46;
  border: 1px solid #27b84e;
  color: rgb(237, 247, 255);
}