:root {
  --green: #27b84e;
  --semi-white: rgba(173, 181, 189, 0.75);
  --bg: #161b22;
  --snow: rgb(237, 247, 255);
}

.button-top {
  background-color: #161b2200;
  cursor: pointer;
  position: fixed;
  right: 10%;
  bottom: 5%;
}

.bi {
  color: #27b84e83;
  transition: .5s;
}

.bi:hover {
  color: #27b84e;
}