@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600&display=swap');

.section-experience {
  max-width: 100%;
  width: 60%; 
  margin: 15rem auto 5rem auto;
}

.left {
  padding: 0;
  display: inline-block;
}

.btn-flex {
  width: 100%;
  text-align: center;
  justify-content: center;
  height: 3rem;
  border: none;
  font-size: large;
  border-left: 1px solid #ffffff4d;
  transition: .2s;
  margin: 0;
  padding: 2px;
}

.btn-flex:hover    {
  background-color: #27b84e31;
  border-left: 3px solid #00e93e46;
}

.p-experience {
  color: rgba(173, 181, 189, 0.959);
}
