* {
  background-color: #0d1117;
  color: #FFF;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #0d1117;
}

body::-webkit-scrollbar-thumb {
  background-color: #39d353;
  border-radius: 10px;
  border: 3px solid #0d1117;
}